@model IEnumerable<PkHiveLibrary.Models.Job>

@{
    ViewData["Title"] = "NADRA Jobs 2022 - List of NADRA Jobs";
    ViewData["Description"] = "Get the complete list of the latest available NADRA Jobs 2022. National Database & Registration Authority (NADRA) is Pakistan’s national identification....";
    ViewData["KeyWord"] = "NADRA Jobs 2022";
    ViewData["url"] = "https://pkhive.com/nadra-jobs-2022";
    ViewData["url-img"] = "https://pkhive.com/og-img/NADRA.png";
    int i = 1;
}

<h1>@ViewData["Title"]</h1>
<p class="fs-5">National Database & Registration Authority (NADRA) is Pakistan’s national identification provider organization. Get the complete list of the latest available NADRA Jobs 2022 and more information about the jobs.</p>

@if (Model.Count() == 0)
{
    <p class="mt-5 fs-5">No jobs available. For more information go to <a href="https://www.nadra.gov.pk/" target="_blank">official website</a> of NADRA</p>
    <p class="fs-5 mt-5">For more jobs information. Click <a href="/">here</a></p>
}

<div class="accordion mt-5" id="accordionExample">
    @foreach (var job in Model)
    {
        <div class="accordion-item">
            <h2 class="accordion-header" id="heading-@i">
                <button class="accordion-button collapsed fs-5" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-@i" aria-expanded="true" aria-controls="collapse-@i">
                    @job.Title
                </button>
            </h2>
            <div id="collapse-@i" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample" style="">
                <div class="accordion-body bg-light">
                    <div class="card border-0 mb-2">
                        <div class="card-body">
                                <p>
                                    <span class="fw-bold"> Qualification:&nbsp; </span>@job.Qualification
                                </p>
                                <p>
                                    <span class="fw-bold"> Experience:&nbsp; </span>@job.Experience
                                </p>
                                <p>
                                    <span class="fw-bold"> Pay Scale:&nbsp; </span>@job.PayScale
                                </p>
                                <p>
                                    <span class="fw-bold"> Vacancies:&nbsp; </span>@job.Vacancies
                                </p>
                                <p>
                                    <span class="fw-bold"> Posted Date:&nbsp; </span>@job.PostedDate.ToString("dd MMM yyyy")
                                </p>
                                <p>
                                    <span class="fw-bold"> Last Date:&nbsp; </span>@job.LastDate.ToString("dd MMM yyyy")
                                </p>
                                <p>
                                    <span class="fw-bold"> Description:&nbsp; </span>@job.Description
                                </p>
                                <p>
                                    <a href="@job.ApplyLink" class="btn btn-outline-primary btn-sm rounded-5" target="_blank">Apply Now</a>
                                </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        i += 1;
    }
</div>
