@model IEnumerable<PkHiveLibrary.Models.SubType>

@{
    ViewData["Title"] = "List of latest NTS Jobs 2022 - Apply Now";
    ViewData["Description"] = "List of latest NTS Jobs with complete information on how to apply and whether you are eligible to apply for the job or not. PKHIVE collects all the information";
    ViewData["KeyWord"] = "NTS Jobs";
    ViewData["url"] = "https://pkhive.com/nts-jobs";
    ViewData["url-img"] = "https://pkhive.com/og-img/NTS.png";
    int i = 1;
}

<h1>@ViewData["Title"]</h1>
<p class="fs-5">List of latest NTS Jobs with complete information on how to apply and whether you are eligible to apply for the job or not. PKHIVE collects all the information about these jobs and puts that in one place.</p>

@if (Model.Count() == 0)
{
    <p class="mt-5 fs-5">Currently jobs are not available. Click <a href="/nts">here</a> for more information.</p>
    <p class="fs-5 mt-5">For more jobs information. Click <a href="/">here</a></p>
}

<div class="accordion mt-5" id="accordionExample">
    @foreach (var subCat in Model)
    {
        @if (subCat.Jobs.Count != 0)
        {
            <div class="accordion-item">
                <div class="accordion-header" id="heading-@i">
                    <button class="accordion-button collapsed fs-5" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-@i" aria-expanded="true" aria-controls="collapse-@i">
                        <div class="d-flex flex-column">
                            @subCat.Name
                            <small class="text-muted">Total Jobs: @subCat.Jobs.Count</small>
                        </div>
                    </button>
                </div>
                <div id="collapse-@i" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                    <div class="accordion-body bg-light">
                        @foreach (var job in subCat.Jobs)
                        {
                            <div class="card border-0 mb-2">
                                <div class="card-body">
                                    <h4 class="fw-bold">
                                        @job.Title
                                    </h4>
                                    <p>
                                        <span class="fw-bold"> Qualification:&nbsp; </span>@job.Qualification
                                    </p>
                                    <p>
                                        <span class="fw-bold"> Experience:&nbsp; </span>@job.Experience
                                    </p>
                                    <p>
                                        <span class="fw-bold"> Pay Scale:&nbsp; </span>@job.PayScale
                                    </p>
                                    <p>
                                        <span class="fw-bold"> Vacancies:&nbsp; </span>@job.Vacancies
                                    </p>
                                    <p>
                                        <span class="fw-bold"> Posted Date:&nbsp; </span>@job.PostedDate.ToString("dd MMM yyyy")
                                    </p>
                                    <p>
                                        <span class="fw-bold"> Last Date:&nbsp; </span>@job.LastDate.ToString("dd MMM yyyy")
                                    </p>
                                    <p>
                                        <span class="fw-bold"> Description:&nbsp; </span>@job.Description
                                    </p>
                                    <p>
                                        <a href="@job.ApplyLink" class="btn btn-outline-primary btn-sm rounded-5" target="_blank">Apply Now</a>
                                    </p>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        }

        i += 1;
    }
</div>


