@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
    {
        @Html.AntiForgeryToken()

        <li>
            @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
        </li>
        <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
    }
}
else
{
    <li class="nav-item @(ViewContext.RouteData.Values["Action"].ToString() == "Register" ? "active" : "")">
        <a class="nav-link" href="@Url.Action("Register","Account")">Register</a>
    </li>
    <li class="nav-item @(ViewContext.RouteData.Values["Action"].ToString() == "Login" ? "active" : "")">
        <a class="nav-link" href="@Url.Action("Login","Account")">Login</a>
    </li>

    @*@*<li>
            <a class="nav-link active" href="@Url.Action("Register", "Account")">Register</a>
            @*Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })
        </li>*@
    @*<li class="nav-item" style="border:1px solid #ffffff">
        @*<a class="nav-link" href="#" data-toggle="modal" data-target="#loginModal">
                <i class="fas fa-sign-in-alt fa-sm fa-fw mr-2"></i>
                Login
            </a>*@
    @*<a class="nav-link active" href="#" data-toggle="modal" data-target="#loginModal" style="border:1px solid">Log in</a>*@

    @*@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })*@
    @*</li>*@
}